<div class="alert alert_error ">
    <div class="alert_content">
        <i class='bx bx-error-circle'></i>
        <div class="alert_text">
            @* <h3>Erreur</h3> *@
            <p> @Model.resultMessage</p>
        </div>
    </div>
</div>
