@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- The Modal -->
<div id="delete_modal" class="modal">
    <div class="modal_content">
        <div class="title">Etes-vous absolument sûr ?</div>
        <p>Cette action ne peut pas être annulée. Cela supprimera définitivement l'enregistrement et supprimera vos données de nos serveurs.</p>
        <div class="modal_buttons">
            <button id="modal_cancel">Cancel</button>
            <button id="modal_accept">Continue</button>
        </div>
    </div>
</div>