.sidenav {
  height: 100%;
  width: 16rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-right: 1px solid #e6e9eb;
  color: #4d4d53;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav-logo {
  width: 10rem;
  margin: 1rem;
}

.sidenav-section {
  margin: 1.4rem;
}

.sidenav-item {
  margin: 1.5rem 0;
}

.sidenav-item-sole {
  margin: 1rem 0;
}

.sidenav-item-sole i {
  font-size: 1.2rem;
}

.sidenav-section h4 {
  color: #ced2d4;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.sidenav-title {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding: 0.8rem 0;
  transition: 0.3s ease-in-out;
  font-weight: 500;
}

.sidenav-title i {
  vertical-align: middle;
  margin-right: 0.4rem;
  font-size: 1.2rem;
}
.sidenav-title p {
  display: flex;
  align-items: center;
}

/* hide list */

.sidenav-list {
  /* margin: 0.5rem 0 0.5rem 0.5rem; */
  transition: display 0.5s;
  display: none;
  height: 0;
  transition: height 0.5s;
}

.active-list .sidenav-list {
  display: block;
  height: auto;
}
.sidenav-link {
  margin: 0.3rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: .5rem;
  transition: 0.3s ease;
}

.sidenav-link:hover{
  background-color: #eeeefba6;
}
.sidenav-link a {
  color: #25252d;
  padding: 0 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}
/* .sidenav-link a:hover{
  color: #3c24ed;
} */
.sidenav-link i{
  vertical-align: middle;
  margin-right: 1px;
  transform: translateY(-1px);
}

.sidenav-title:hover,
.sidenav-link a:hover,
.sidenav-direct-link a:hover {
  color: #3c24ed;
}

.sidenav-direct-link {
  display: flex;
  align-items: center;
}

.sidenav-direct-link a {
  color: #25252d;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

.sidenav-direct-link i {
  vertical-align: middle;
  margin-right: 0.4rem;
}

#main {
  margin-left: 250px;
  transition: margin-left 0.5s;
  /* padding: 16px; */
}

/* sidenav scrollbar */

.sidenav::-webkit-scrollbar-track {
  background-color: #293042;
}

.sidenav::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.sidenav::-webkit-scrollbar-thumb {
  background-color: #445169;
  border-radius: 1rem;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
